name: Deploy GitHub Pages

on:
  push:
    branches:
      - main  # or your default branch
    paths:
      - 'index.html'
      - 'icons/**'
  workflow_dispatch: # Allows manual triggering

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Stage Web Files
        run: |
          mkdir -p public
          cp index.html public/
          cp -r icons/ public/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages